[submodule "INRIA-kernel-thp-split"]
	path = INRIA-kernel-thp-split
	url = https://github.com/clementgd/INRIA-kernel-thp-split
[submodule "INRIA-scripts"]
	path = INRIA-scripts
	url = https://github.com/clementgd/INRIA-scripts
